.open-account-container{
    background-color: rgb(231, 234, 236);
    width: min-content;
    margin: 10px auto;
    box-shadow: 0 0 10px rgb(0,0,0,0,2);
    border-radius: 15px;
    padding: 20px 40px;

  }

  .account-title{
    text-align: center;
    text-wrap: wrap;
  }

  .input-label{
    display: block;
    font-size: 22px;

  }

  .input-filed{
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  .input-container{
    margin: 20px auto;
  }

  .btn-submit{
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
  }
  
  