.demet-image{
    height: 500px;
    width: 100%;
    margin-top: 1px;
}
.dement-container{
    min-height: 100vh;
}
.row{
    
}

.buttons{
    margin-left: 165px;
    width: 110px;
    padding: 15px;
    width: 150px;
    text-align: center;
    color: white;
    margin-bottom: 17px;
  }

  