.demet-image{
    height: 500px;
    width: 100%;
    margin-top: 1px;
}
.dement-container{
 max-width: max-content;
 
}
.row{
    
}

.buttons{
    margin-left: 165px;
    width: 110px;
    padding: 15px;
    width: 150px;
    text-align: center;
    color: white;
    margin-bottom: 17px;
  }

  .account-text{
    text-align: center;
    text-wrap: wrap;
    color: orange;

  }
  .account-second-text{
    text-align:center;
    text-wrap: wrap;
    width: 200px;
  }