
.footer{
    background-color: darkorange;
    color: black;
    padding: 10px;
    
    
    
}

.social-icons{
 display: block;
 text-align: center;
   
}



.social-icons img
{
    box-shadow: 3px 3px 5px 2px black;
    border-radius: 10px;
    width: 50px;
    margin: 8px;
    transition: 0.5s;
    
    
}

.social-icons a:hover img
{
    transform: translateY(-10px);
}

.social-media
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.adress{
    text-align: center;
    font-size: x-large;
}