.navbar{
    background-color: darkorange;
    position: fixed;
    width: 100%;
    
    


}

.brand-logo{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 10px;
}

.nav-menu{
   
    font-size: 25px;    
    padding-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    
    

}

.nav-menu:hover{
    color: white;
    font-size: 27px;
}
