.open-contact-container{
    background-color:aliceblue;
    width: max-content;
    margin: 20px auto;
    box-shadow: 0 0 10px rgb(0,0,0,0,2);
    border-radius: 15px;
    padding: 20px 40px;
          
}
.contact-title-form{
    text-align: center;
    text-wrap: wrap;
}

.main-heading{
    text-align: center;
}

.contact-input-container{
    margin: 20px auto;

}
.contact-details-container{
    height: 500px;
    background-color: aqua;
    margin: 10px 30px;
}

.contact-sub-container{
    display: inline-block;
}

.Location-img {
    display: inline-block;
}

.Location-description{
    display: inline-block;
}

.location-logo{
    width: 60px;
}

.title {
    display: flex;
    flex-direction: column;
}

.address-title{
    font-size: 30px;
}

.contact-input-label{
    display: block;
    font-size: 22px;

  }

  .contact-input-filed{
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }

  .input-container{
    margin: 20px auto;
  }

  .btn-submit{
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
  }

  .email-title{
    font-size: 30px;
  }

  .contact-title{
    font-size: 30px;
  }

 .design-text{
    text-decoration: none;
    text-wrap: wrap;

 }
 .image{
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.355);
    width: 50px;
    border-radius: 10px;

 }
 .image:hover{
    transform: translateY(-10px);
 }
 
 
