
.home-container{
   min-height: 100vh;
}
.slider-img{
   height: 700px;
}
.event-heading{
   text-align: center;
   margin-top: 50px;
}
.event-container{
   display: flex;
}

.event-img-container{
   display: inline-block;
}

.event-description-container{
   display: inline-block;
}


.event-img{
   margin-left: 40px;
}